node_modules
*/node_modules
*/package-lock.json
*/.DS_Store
.DS_Store
env
Procfile
.Rproj.user
.Rhistory
.RData
.Ruserdata
cfb-data
cfb-api
.ipynb_checkpoints/*
.ipynb_checkpoints
__pycache__
*/__pycache__