---
import type { ESPNBroadcast, ESPNCompetition, ESPNGeoBroadcast, ESPNScheduleEvent, ESPNStatus } from '../../resources/espn'
import { NETWORK_MAPPINGS } from '../../utils/constants';

interface Props {
  game: ESPNCompetition
}

const { game } = Astro.props;
let actionPrefix: string | null = 'Watch';

if (game.status.type.completed == true) {
    actionPrefix = 'Replay';
} else {
    actionPrefix = 'Watch';
}

let networkName: string | null = null;
if ((game.geoBroadcasts?.length ?? 0) > 0) {
    networkName = game.geoBroadcasts![0].media.shortName;
} else if ((game.broadcasts?.length ?? 0) > 0) {
    networkName = game.broadcasts![0].media?.shortName || null;
}

const networkMapping = networkName ? NETWORK_MAPPINGS[networkName] : null;
const networkURL = (networkName?.includes('ESPN') || networkName?.includes('LHN') || networkName?.includes('Longhorn Network') || networkName?.includes('ACCN') || networkName?.includes('ACC Network') || networkName?.includes('SEC Network') || networkName?.includes('SECN') || networkName?.includes('BIG12') || networkName?.includes('ABC')) ? `https://www.espn.com/watch/player/_/eventCalendarId/${game.id}` : networkMapping;
---

<Fragment>
    {
        (networkURL) && <a class="btn btn-sm btn-outline-secondary" role="button" target="_blank" href={networkURL}>{`${actionPrefix} (${networkName})`}</a>
    }
</Fragment>