<div class="nav-scroller py-1 mb-3">
    <nav class="nav d-flex justify-content-between">
        <a href="#wpChart" class="p-2 link-secondary">WP Chart</a>
        <a href="#epChart" class="p-2 link-secondary">EPA Chart</a>
        <a href="#team-stats" class="p-2 link-secondary">Team Stats</a>
        <a href="#player-stats" class="p-2 link-secondary">Player Stats</a>
        <a href="#big-plays" class="p-2 link-secondary">Big Plays</a>
        <a href="#most-imp-plays" class="p-2 link-secondary">Most Important Plays</a>
        <a href="#scoring-plays" class="p-2 link-secondary">Scoring Plays</a>
        <a href="#drives" class="p-2 link-secondary">Drives</a>
        <a href="#all-plays" class="p-2 link-secondary">All Plays</a>
        <a href="/cfb/game/<%= gameData.gameInfo.id %>?preview_mode=new" class="p-2 link-secondary">Matchup Preview</a>
        <a class="p-2 link-secondary" href="https://www.espn.com/college-football/game/_/gameId/<%= gameData.gameInfo.id %>">Gamecast</a>
    </nav>
</div>