function buildPlayTable(plays, prefix, expandable, errorMsg, showGuide, expandingRowCallback) {
    if (plays == null || plays.length == 0) {
        return `<p class="text-center text-muted">${errorMsg}</p>`;
    }
    let guideText = (showGuide) ? `<caption>Play shading guide:
        <ul>
            <li><strong>Yellow</strong> - penalty</li>
            <li><strong>Red</strong> - turnover</li>
            <li><strong>Green</strong> - scoring play</li>
        </ul>
    </caption>` : ""

    var baseTable = `
    <table class="table table-sm table-responsive" style="border-collapse:collapse;">
        ${guideText}
        <thead>
            <tr>
                <th style="text-align: left;">Time</th>
                <th style="text-align: center;">Offense</th>
                <th style="text-align: left;">Play Description</th>
                <th style="text-align: center;">EPA</th>
                <th style="text-align: center;">WP%</th>
                <th style="text-align: right;">WPA</th>
            </tr>
        </thead>
        <tbody>`;
    plays.forEach(play => {
        baseTable += createPlayRow(play, expandable, prefix, expandingRowCallback);
    });
    baseTable += `</tbody>
    </table>`;
    return baseTable;
}