<>
    <div>
        <h2 class="mb-0">Expected Points</h2>
        <p class="text-small"><a id="ep-download" download="game-ep-<%= gameData.gameInfo.id %>.jpg" href="">Download Chart</a></p>
    </div>
    <canvas class="my-4 w-100" id="epChart" width="900" height="380"></canvas>
</>