---
import { roundNumber } from '../../../utils/misc';
import TeamPlayerTable from './TeamPlayerTable.astro';

interface Props {
    players: any[]
}

const { players } = Astro.props;
---

<TeamPlayerTable id="rushing-players" title="Rushing">
    <Fragment slot="header">
        <th rowspan="1" colspan="1"></th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;">Carries</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;">Yds</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;">TD</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;">Fum</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;">Yds/rush</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Expected Points Added per Rush">EPA/rush</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Total Expected Points Added">EPA</th>
        <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Success Rate">SR</th>
    </Fragment>

    <Fragment slot="rows">
        {
            players.map((p: any) => (
                <tr>
                <td style="text-align: left;">{ p.name }</td>
                <td class="numeral" style="text-align: center;">{ p.statistics.plays }</td>
                <td class="numeral" style="text-align: center;">{ p.statistics.yards }</td>
                <td class="numeral" style="text-align: center;">{ p.statistics.touchdowns }</td>
                <td class="numeral" style="text-align: center;">{ p.statistics.fumbles }</td>
                <td class="numeral" style="text-align: center;">{ roundNumber(parseFloat(p.statistics.yardsPerPlay || 0), 2, 2) }</td>
                <td class="numeral" style="text-align: center;">{ roundNumber(parseFloat(p.advanced.epaPerPlay), 2, 2) }</td>
                <td class="numeral" style="text-align: center;">{ roundNumber(parseFloat(p.advanced.totalEPA), 2, 2) }</td>
                <td class="numeral" style="text-align: center;">{ roundNumber(parseFloat(p.advanced.successRate) * 100, 2, 0) }%</td>
                </tr>
            ))
        }
    </Fragment>
</TeamPlayerTable>