<footer class="blog-footer">
  <p>Built by <a href="https://github.com/akeaswaran/">Akshay Easwaran</a>, <a href="https://github.com/saiemgilani">Saiem Gilani</a>, and others. Data from <a href="https://espn.com/college-football">ESPN.com</a>. Please note: some box score values may be estimated due to data availability. Learn more about the stats used in our <a href="/cfb/glossary">Glossary</a>.</p>
  <p>Contribute on <a href="https://github.com/saiemgilani/game-on-paper-app">GitHub</a>. Follow the site on <a href="https://bsky.app/profile/gameonpaper.com">Bluesky</a>. Love the site? Support us on <a href="https://ko-fi.com/G2G0KJ588">Ko-fi</a>!</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>