<footer class="blog-footer">
  <!-- <p><a href="/about">About</a> | <a href="/definitions">Stat Definitions</a></p> -->
  <p>Built by <a href="https://github.com/akeaswaran/">Akshay Easwaran</a>, <a href="https://github.com/saiemgilani">Saiem Gilani</a>, and others.</p>
  <p>Contribute on <a href="https://github.com/saiemgilani/game-on-paper-app">GitHub</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>