<%# Common <head> contents: meta tags, favicon, title, analytics. %>
<%# Pages still inline their own CSS, viewport, OG/Twitter tags, and %>
<%# page-specific scripts/styles. Pass `title` as a local for <title> + %>
<%# meta name=title. Viewport is page-controlled because some pages want %>
<%# zoom enabled (homepage) and others lock zoom (game/team pages). %>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
<meta name="referrer" content="origin-when-cross-origin">
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
<% if (typeof title !== 'undefined' && title) { %>
<title><%= title %></title>
<meta name="title" content="<%= title %>">
<% } %>
<script defer data-domain="gameonpaper.com" src="https://plausible.io/js/script.js"></script>
<%# Cloudflare Web Analytics — uncomment and paste site token from %>
<%# https://dash.cloudflare.com/?to=/:account/web-analytics %>
<%# <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "REPLACE_ME"}'></script> %>
