<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Game: <%= gameData.gameInfo.competitors[1].team.nickname %> <%= gameData.gameInfo.competitors[1].score %>, <%= gameData.gameInfo.competitors[0].team.nickname %> <%= gameData.gameInfo.competitors[0].score %> | Game on Paper</title>
</head>