<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/assets/css/dashboard.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <title>Game: <%= gameData.gameInfo.competitors[1].team.nickname %> <%= gameData.gameInfo.competitors[1].score %>, <%= gameData.gameInfo.competitors[0].team.nickname %> <%= gameData.gameInfo.competitors[0].score %> | Game on Paper</title>
</head>